<h1>Mega sample</h1>
<div>
    <label>getThisStringFromQueryResult</label>
    <span>{{ getThisStringFromQueryResult }}</span>
</div>
<div>
    <label>getThisStringFromQueryExplicityResult</label>
    <span>{{ getThisStringFromQueryExplicitResult }}</span>
</div>
<div>
    <label>getThisStringFromRouteResult</label>
    <span>{{ getThisStringFromRouteResult }}</span>
</div>
<div>
    <label>postAndReturnThisStringFromQueryResult</label>
    <span>{{ postAndReturnThisStringFromQueryResult }}</span>
</div>