@font-face {
    font-family: "ABC";
    src: url("Trebuchet MS.ttf") format("truetype");
}
.body-content{
}
@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
