<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <span class="nav-link active" href="#">Source.cs</span>
    </li>
  </ul>
  <div id="editor" class="border" style="height: 300px;"></div>
  <form [formGroup]="formGroup" class="form-inline my-2">
    <div class="form-group mr-2">
      <label for="serviceMode" class="mr-2">Mode</label>
      <select
              formControlName="serviceMode"
              id="serviceMode" class="form-control">
        <option value="fetch">Fetch</option>
        <option value="angular">Angular 6+</option>
        <option value="angular4">Angular (>=4.3 < 6)</option>
        <option value="jquery">jQuery</option>
      </select>
    </div>
    <button class="btn btn-primary m-0"
            [disabled]="transpiling"
            (click)="transpile()">
      <span *ngIf="!transpiling">Transpile!</span>
      <span *ngIf="transpiling">Wait...</span>
    </button>
  </form>
  <div style="height: 300px" class="d-flex border">
    <div style="width: 200px; overflow-y: auto" class="border-right p-1">
        <a href="#" [ngClass]="{ 'text-danger': selectedItem == item }"
           (click)="select(item)" class="d-block small text-truncate"
           *ngFor="let item of result.files">
          {{item.path.replace('\\', '/').replace('./', '')}}
        </a>
    </div>
    <div id="result" style="flex: 1">
    </div>
    <!--<ul class="nav nav-tabs" role="tablist">
      <li *ngFor="let item of result.files"  class="nav-item">
        <a class="nav-link active"
           id="home-tab"
           data-toggle="tab"
           href="#home" role="tab"
           aria-controls="home"
           aria-selected="true">{{item.path.replace('\\', '/').replace('./', '')}}</a>
      </li>
    </ul>
    <div class="tab-content border" style="height: 300px">
      <div class="tab-pane fade show active"
           id="home"
           role="tabpanel" aria-labelledby="home-tab">...</div>
    </div>-->
  </div>
</div>
